* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
.Hero-header {
  display: flex;
  width: 100%;
  padding: 1.6em 16px;
  background: rgb(255,255,255);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,121,255,0.9360994397759104) 86%);
}
.Hero-header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.Hero-logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.Hero-nav button {
  background-color: #2563eb;
  color: white;
  padding: 0.9rem 2.5rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  font-size: 17px;
}
.Hero-registartion {
  margin-right: 35px;
}

header button:hover {
  background-color: #1e40af;
}

/* Main section styles */

.Hero-main {
  display: flex;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.Hero-main-left {
  width: 50%;
  padding-left: 7%;
  align-content: center;
}
.Hero-main-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.Hero-main-right div {
  display: flex;
  justify-content: center;
  position: relative;
}
.Hero-main-right img {
  border-radius: 50%;
}
.Hero-line {
  position: absolute;
  top: 230%;
  left: 23px;
  z-index: 1;
  transform: scale(0.8) rotate(290deg);
}
.paperPlane {
  position: absolute;
  top: 51%;
  left: 29%;
  transform: translate(-50%, -50%) rotate(46deg);
}



.Hero-main-box {
  width: 70%;
  background-color: #2563eb;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 24px;
  border-radius: 30px;
  box-shadow: 7px 9px 28px rgba(7, 56, 216, 0.788);
}

.Hero-description {
  margin-top: 24px;
  color: #0b0b0d;
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
  width: 70%;
}
.Hero-buy-container {
  width: 67%;
  display: flex;
  justify-content: center;
}
.Hero-buy-button {
  background-color: #2563eb;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #1e40af;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}


/* Registration */
/* Загальні стилі */

.Registration, .Forgot {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #dff6ff, #bde0fe);
  min-height: 100vh;
}

.Registration-main {
  margin-top: 2.5em;
  display: flex;
  position: relative;
  top: 3em;
  justify-content: center;
  align-items: center;
}
.reg-header-container {
  margin: auto;
}
.reg-header {
  text-align: center;
}

/* Контейнер форми */
.registration-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.registration-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Поля вводу */
.registration-input-group {
  margin-bottom: 15px;
  text-align: left;
}

.registration-input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.registration-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Кнопка надсилання */
.registration-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.registration-submit-button:hover {
  background-color: #333;
}

.registration-submit-button span {
  margin-right: 8px;
}

/* Login */
.Login {
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #dff6ff, #bde0fe);
}
.Login-main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер форми */
.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
.log-nav {
  display: flex;
  justify-content: space-between;
  width: 54%;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Поля вводу */
.login-input-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.login-input-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Кнопка логіну */
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: not-allowed;
  transition: background 0.3s ease;
}

.login-button.active {
  background-color: black;
  cursor: pointer;
}

.login-button.active:hover {
  background-color: #333;
}

/* News */
.News-header {
  position: fixed;
  top: 0;
  z-index: 1000;
}
.News {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #dff6ff, #bde0fe);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

/* Контейнер сторінки */
.news-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 900px;
  text-align: center;
}

/* Кнопки вибору */
.news-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.news-buttons button {
  background-color: black;
  color: white;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.news-buttons button:hover {
  background-color: #333;
}

/* Заголовок */
.news-header {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Таблиця новин */
.news-table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.news-table-header {
  display: flex;
  background-color: #005eff;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.news-table-header div {
  padding: 12px;
  flex: 1;
  text-align: center;
}

.news-row {
  display: flex;
  border-top: 1px solid #ccc;
}

.news-date {
  background-color: #005eff;
  color: white;
  font-weight: bold;
  padding: 12px;
  flex: 1;
  text-align: center;
}

.news-content {
  padding: 12px;
  flex: 3;
  text-align: left;
}

/* Cryptocurency */
/* General container styles */
.crypto-container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #cce7ff, #99d6ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

/* Header styles */
.crypto-header {
  width: 100%;
  background: rgb(255,255,255);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,121,255,0.9360994397759104) 86%);
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.crypto-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
}

.crypto-avatar {
  /* background-color: #007bff; */
  transform: scale(1.3);
  padding: 8px;
  /* border-radius: 50%;
  color: white; */
}

.crypto-title {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.crypto-balance-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.crypto-balance {
  font-size: 18px;
  font-weight: bold;
}

.crypto-balance-amount {
  color: #003366;
}

.crypto-profile-button {
  background: black;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

/* Content styles */
.crypto-content {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  text-align: center;
}

.crypto-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}

.crypto-icon-section {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin-bottom: 24px;
}

.crypto-icon-card {
  box-shadow: 3px 15px 17px #cce7ff;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.crypto-icon-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.crypto-input-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.crypto-input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 16px;
}
.crypto-payment-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: #000000;
  border-radius: 10px;
}
.crypto-message {
  margin-bottom: 10px;
}

.crypto-payment-button {
  background: black;
  color: white;
  padding: 15px 26px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Pofile */
/* Загальні стилі */
.profile-main {
  background-color: hsl(195, 82%, 85%);
  height: 100vh;
}
.profile-container {
  width: 90%;
  max-width: 1200px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 3%;
}
.profile-contain {
  display: flex;
}
.profile-contain > div {
  width: 33.3%;
}
.profile-contain button {
  margin: auto;
  display: block;
  margin-top: 10px;
}.profile-contain h2 {
  text-align: center;
}

/* Header */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #a8d0f0, #007bff);
  padding: 15px;
  color: white;
  position: relative;
}
.profile-logo {
  font-size: 23px;
  color: #000000;
}
.profile-header h1 {
  color: #000000;
}
.profile-admin-button {
  background-color: #000000; /* Синій колір */
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  position: absolute;
  right: 17%;
}

.profile-admin-button:hover {
  background-color: #155a9b; /* Темніший синій при наведенні */
}

.profile-title {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

.profile-home-button {
  background: black;
  color: white;
  padding: 10px 35px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

/* Баланс */
.profile-balance-section {
  text-align: center;
  padding: 20px;
}

.profile-balance {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.profile-crypto-topup-button {
  background: black;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.profile-balance-image img {
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

/* Дані користувача */
.profile-user-data,
.profile-number-transfer {
  padding: 20px;
  border-radius: 12px;
}

.profile-user-data h2,
.profile-number-transfer h2 {
  font-style: italic;
}

.profile-user-data input,
.profile-number-transfer input,
.profile-number-transfer section {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.profile-select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 7px 0;
}

.profile-change-password-button,
.profile-transfer-number-button {
  background: linear-gradient(to right, #3b82f6, #005eff);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}

.profile-transactions {
  width: 49%;
}
.profile-phone-info {
  width: 49%;
}

/* Інформація */
.profile-info-sections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

/* Стилі для заголовків секцій */
.profile-section-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

/* Обгортка для таблиць */
.profile-table-wrapper {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

/* Основна стилізація таблиць */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

/* Заголовки таблиць */
.profile-table th {
  background: blue;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Стиль рядків */
.profile-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Альтернативний колір рядків */
.profile-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover-ефект */
.profile-table tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* Якщо немає даних */
.profile-no-data {
  text-align: center;
  padding: 15px;
  font-style: italic;
  color: gray;
}


/* Long */
/* Загальні стилі */

.long-basic-section {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #dff6ff, #bde0fe);
  min-height: 100vh;
}

.long-container {
  width: 90%;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 2.5em;
}

/* Header */
.long-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,255,255);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.536) 0%, rgba(0,121,255,0.9360994397759104) 86%);
  padding: 15px;
  color: rgb(0, 0, 0);
}

.long-logo {
  font-size: 23px;
}

.long-flag-container img {
  border-radius: 16px;
}
.long-crypto-img img {
  border-radius: 20px;
  display: flex;
  align-items: end;
}

.long-title {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.long-profile-button {
  background: black;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

/* Баланс */
.long-balance-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 40px;
}

.long-balance-content-title {
  display: flex;
  flex-direction: column;
}
.long-balance-content-title h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.long-balance-content {
  text-align: center;
  display: flex;
  margin: auto;
}

.long-balance-text {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.long-buttons {
  display: flex;
  flex-direction: column;
}

.long-crypto-topup-button, .long-short-term-button {
  background: black;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  font-size: 17px;
}
/* long */
.long-main {
  width: 100%;
  display: flex;
}
.long-left {
  width: 50%;
}
.long-right {
  width: 50%;
}
/* Пошук */
.long-search-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
}
.long-search-section label {
  font-size: 28px;
}

.long-service-input, .long-amount-input, .long-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.long-buy-button, .long-filter-button {
  background: linear-gradient(to right, #3b82f6, #005eff);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  width: 20%;
}

.long-view-rental-button {
  background: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  margin: 20px 0;
  cursor: pointer;
  width: 100%;
}

/* Вибір номера */
.long-number-selection {
  text-align: center;
  padding: 20px;
  padding-top: 70px
}
.long-number-selection label {
  font-size: 25px;
}
#chooseNumber {
  width: 65%;
  margin-left: 10px;
}
.long-number-selection button {
  width: 32.3%;
  margin-left: 5px;
  margin-top: 10px;
}

.long-number-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.long-error-button {
  background: red;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.long-activate-button {
  background: green;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.long-message-button {
  background: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* Таблиці */
.long-table-section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.long-service-table {
  width: 90%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок таблиці */
.long-service-table thead {
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.long-service-table th {
  padding: 15px;
  text-align: center;
}

/* Контент таблиці */
.long-service-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

/* Чергування кольору рядків */
.long-service-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.long-service-table tbody tr:hover {
  background-color: rgba(37, 99, 235, 0.1);
  cursor: pointer;
}

/* Повідомлення про відсутність сервісів */
.long-service-table td[colspan="3"] {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.long-table-section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  overflow: scroll;
  max-height: 200px;

}

.long-number-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок таблиці */
.long-number-table thead {
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.long-number-table th {
  padding: 15px;
  text-align: center;
}

/* Контент таблиці */
.long-number-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

/* Чергування кольору рядків */
.long-number-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.long-number-table tbody tr:hover {
  background-color: rgba(37, 99, 235, 0.1);
  cursor: pointer;
}

/* Повідомлення про відсутність номерів */
.long-no-data {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  text-align: center;
}



/* Change Password */

.change-password-page {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #dff6ff, #bde0fe);
  min-height: 100vh;
}

.Hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,121,255,0.936) 86%);
}

.Hero-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.password-title {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.change-password-container {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
  margin: 50px auto;
}

.change-password-heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.change-password-button {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.change-password-button:hover {
  background-color: #333;
}

.message {
  margin-top: 15px;
  font-weight: bold;
}

/* Admin */
/* Загальні стилі */

/* Стилі заголовка */
.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,255,255);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,121,255,0.9360994397759104) 86%);
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.admin-header button {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s ease;
  margin-right: 10px;
}

.admin-header button:hover {
  background: #444;
}

/* Основний контейнер */
.admin-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Блоки адміністрування */
.admin-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.admin-section > div {
  flex: 1;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  min-width: 280px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  background: none;
  justify-content: space-between;
}

.admin-section h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
  text-align: center;
}

.admin-section input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}


.admin-section button {
  width: 100%;
  background: #0072ff;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.admin-section button:hover {
  background: #0052cc;
}
.admin-delete-section {
  width: 20%;
}
.admin-balance {
  width: 38%;
}
.admin-balance button {
  width: 60%;
  display: block;
  margin: auto;
  border-radius: 20px;
}
.admin-trans {
  width: 38%;
}
.admin-trans button {
  width: 82%;
  padding: 12px 10px;
  border-radius: 20px;
  display: block;
  margin: auto;
}
.admin-delete-section button {
  background: #000000;
  border-radius: 26px;
  padding: 12px;
  width: 60%;
  display: block;
  margin: auto;
}
.admin-delete-section button:hover {
  background: rgba(0, 0, 0, 0.819);
}
.balance-arrow {
  margin: 0 10px;
  transform: scale(1.5);
}
.admin-transfer input {
  width: 44%;
}
.admin-transfer svg {
  transform: scale(1);
  align-self: center;
}
.admin-number {
  align-items: center;
  justify-content: space-between;
}
.admin-section button {
  margin-top: 10px;
}

/* Таблиці */
.admin-transactions {
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
}
.admin-transactions > div{
  width: 49%;
}

.admin-transactions h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.markup button {
  background: #000000;
  border-radius: 26px;
  padding: 12px;
  width: 30%;
  display: block;
  margin: auto;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin-bottom: 32px;
}
.markup input {
  width: 40%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  display: block;
  margin: 10px auto;
}
.admin-use-information p {
  width: 100%;
  height: 200px;
  background: #eeeeee;
  overflow-y: scroll;
  border-radius: 20px;
}
.admin-users-table {
  overflow-y: scroll;
  height: 100px;
}
.admin-news {
  width: 100%;
}
.admin-news svg {
  position: relative;
  top: 3px;
  right: 6px;
}

.admin-news button {
  background: #000000;
  border-radius: 26px;
  padding: 15px;
  width: 30%;
  display: block;
  margin: 40px auto;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.admin-transactions table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.admin-transactions th {
  background: #0072ff;
  color: white;
  padding: 12px;
  font-size: 16px;
}

.admin-transactions td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.admin-transactions tr:nth-child(even) {
  background: #f9f9f9;
}

.admin-transactions tr:hover {
  background: #e6f0ff;
}

/* Повідомлення */
.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Адаптивність */
@media (max-width: 768px) {
  .admin-section {
      flex-direction: column;
  }

  .admin-transactions th,
  .admin-transactions td {
      font-size: 14px;
  }
}

/* Create News */

.create-news-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  width: 75%;
}

.create-news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255,255,255);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,121,255,0.9360994397759104) 86%);background-color: #3498db;
  color: rgb(0, 0, 0);
  padding: 15px;
}
.create-news-home-button {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3sease;
}
.news-controller {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.create-news-main {
  margin-top: 20px;
}
.create-news-list {
  width: 70%;
  display: block;
  margin: auto;
}

.create-news-create-section, .create-news-delete-section {
  margin-bottom: 20px;
  width: 45%;
  text-align: center;
}
.create-news-delete-section input {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.add-news {
  background-color: rgb(210, 210, 210);
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
}
.create-news-list h2 {
  text-align: center;
}

.create-news-create-button, .create-news-delete-button {
  background: #000000;
  border-radius: 26px;
  padding: 15px;
  width: 70%;
  display: block;
  margin: 10px auto;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

/* .create-news-delete-button {
  background-color: #e74c3c;
} */
.create-news-table-wrapper {
  overflow-x: auto;
  margin-top: 15px;
  border-radius: 10px;
}

.create-news-table {
  width: 100%;
  border-collapse: collapse;

}
.create-news-table tr {
  border-radius: 10%;
}

.create-news-table th, .news-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  
}

.create-news-table th {
  background-color: #099cff;
  color: white;
  text-align: center;

}

.create-news-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* UpdatePassword */
/* Фон сторінки */
.update-password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #c6e7ff, #e0f7ff); /* Градієнт */
}

/* Контейнер форми */
.update-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 70px auto;
}

/* Заголовок */
.update-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Група інпутів */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #00aaff;
}

/* Кнопка зміни пароля */
.reset-button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.reset-button:hover {
  background: #222;
}


